$primary-color: #DF594F;
$secondary-color: #9D1C12;

$standard-font: monaco;

$font-size-header: 72px;
$font-size-subheader: 40px;
$font-size-paragraph: 24px;

$standard-padding: 8px;
$button-padding: 16px 32px;

$standard-radius: 8px;
$hard-radius: 16px;

$standard-transition: .7s ease;

$standard-shadow: 0 0 10px rgba(211, 211, 211, 0.25);

