.show-page {
    margin-top: 40px;

    img {
        border-radius: $standard-radius;
        box-shadow: 0px 0px 10px lightgrey;
    }
}

.rating-section {
    margin-top: 8px;
    .rating-quote {
        font-size: 24px;
        margin-bottom: 0px;
    }
    i {
        color: rgb(236, 224, 57);
         margin-bottom: 32px;
    }
}

.book-date-else-section {
    text-align: center;
}

.booking-price {
    font-size: 20px;
    margin-bottom: 0;
}

.book-date-section {
    display: flex;
    justify-content: center;
}

.space-date-time {
    height: 5px;
}

#basicDate {
  font-size: 18px;
  width: 220px;
}

.booking-date {
    text-align: center;
}

.date-section {
    margin: auto 0 ;
    margin-right: 10px;

}
.book-section {
    text-align: left;

    .amount-bookings {
        font-size: 12px;
    }
}

.btn-booking {
    margin-left: 0;
}

.desc-section {
    margin-top: 16px;

    .desc {
        background-color: rgb(238, 238, 238);
        padding: $standard-padding;
        border-radius: $standard-radius;
        box-shadow: 0px 0px 10px lightgrey;
    }
}

.amount-bookings {
    margin-bottom: 0;
}
