<h1>here we will show all the particular bookings for a particular user</h1>
<h2>is where i want to iterate over the bookings</h2>
<% current_user.bookings.each do |f|%>
   <li><%= f.date %></li>
   <li><%= f.lookalike.celeb_name%> </li>
<% end %>

<%= link_to "Back to all lookalikes", lookalikes_path, class: "btn btn-flat" %>
