<h1 class="bookings-title">Here are all your bookings</h1>

<% current_user.bookings.each do |f|%>
   <div class="card mb-4 card-booking">
        <div class="row no-gutters">
            <div class="col-md-4 card-img">
                <img src="https://source.unsplash.com/user/erondu" class="card-img" alt="placeholder" style="max-height: 160px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-title"><%= f.lookalike.celeb_name%> <small class="text-muted"><%= f.lookalike.price %>€/h</small></p>
                    <p class="card-date text-muted"><%= f.date %></p>
                </div>
            </div>
        </div>
    </div>
<% end %>
<p class="back-btn"><%= link_to "Back to all lookalikes", lookalikes_path, class: "btn btn-flat btn-standard" %></p>
