<footer>
  <div class="footer-body">
    <div class="footer-part">
      <h3>Copyright</h3>
      <p class="team-text">©Team of Peter, Paul, Felipe and Vincent</p>
      <p>@Lewagon 2020 to 2020</p>
    </div>
    <div class="footer-part">
      <h3>Get in Touch:</h3>
      <p class="team-text">Email: info@celebnb.com</p>
      <p>Mobile: +49 6 439 931</p>
    </div>
    <div class="footer-part">
      <a href="www.facebook.com">
        <img class="media-logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-128.png">
      </a>
      <a href="#">
        <img class="media-logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_google_plus-128.png">
      </a>
      <a href="#">
        <img class="media-logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/twitter_online_social_media-128.png">
      </a>
      <a href="#">
        <img class="media-logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-128.png">
      </a>
    </div>
  </div>
</footer>


