<h1>Browse Lookalikes</h1>
<div>
  <ul>
    <% @lookalikes.each do |lookalike| %>
      <div>
        <li><%= link_to lookalike.celeb_name, lookalike_path(lookalike) %></li>
        <% if lookalike.photo.attached? %>
          <%= cl_image_tag lookalike.photo.key, height: 100, crop: :fill %>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>

<p><%= link_to "Create your own look-alike", new_lookalike_path() %></p>

<div style="width: 50%; margin: 50px auto">
  <h1>Card work in progress</h1>


  <div class="card" style="width: 18rem;">
    <img src="https://picsum.photos/200/300" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lookalike Name</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <div style="display:flex; justify-content: center">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>


</div>

