<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1580655653885-65763b2597d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <h1>CelebBnB brings <strong>dream crushes</strong> to <strong> life</strong>!</h1>
    <p>Change your life and meet your celeb crush anywhere in the world.</p>
    <%= link_to "Browse Celeb Look-alikes now", lookalikes_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="divider"><h3>Find your celeb look-alike in 3 simple steps...</h3></div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1470305585628-a7d2cb18efa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
    <div class="card-body">
      <h3 class="card-title">Step 1: Find</h3>
      <h6 class="card-text">Look for your celebrity crush in our wide selection of look-alikes.</h6>
    </div>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1528905895600-30137e04d936?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80)">
    <div class="card-body">
      <h3 class="card-title">Step 2: Select</h3>
      <h6 class="card-text">Simply click on your celeb look-alike of choice and book!</h6>
    </div>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1531747056595-07f6cbbe10ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
    <div class="card-body">
      <h3 class="card-title">Step 3: Meet</h3>
      <h6 class="card-text">Wait for the confirmation and meet up with your crush!</h6>
    </div>
  </div>
</div>
