<h1 style="display: flex; justify-content: center">Ever dream of "hanging-out" with your celebrity crush? Use CelebBnB now!</h1>
<div>
  <h4 style="display: flex; justify-content: center">Paul finally had his dream date with Scarlett Johansson ... and got lucky!</h4>
</div>
