.btn-standard {
    background-color: $primary-color;
    border: none;
    border-radius: $hard-radius;
    padding: $button-padding;
    margin: 16px;
    transform: scale(1);
    transition: $standard-transition;
    font-family: $standard-font;

    &:hover {
        transition: $standard-transition;
        background-color: $secondary-color;
        transform: scale(1.03);
    }
}

a.btn-standard {
    color: white;
    text-decoration: none;
}