.footer-body {
  background-color: $primary-color;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  width: 100%;
}

.media-logo {
  width: 50px;
  margin: 10px;
}

.footer-part {
  margin: 40px 100px
}

.team-text {
  margin-bottom: 0
}
