// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "lookalike_card";

.index-header {
  margin-top: 50px;
  display: flex;
  justify-content: center;

}

.index-header-text {
  font-size: 50px;
  font-family: $headers-font;
}
