.card {
  border-radius: $standard-radius;
  box-shadow: $standard-shadow;
}

.lookalike-card {
  width: 18rem;
  overflow: hidden;
  margin-top: 40px;
}

.card > img {
  height: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

.card-title {
  margin-bottom: 20px;
  font-size: 30px;
}

.card-btn-body {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.card-text {
  text-align: right;
  margin-bottom: 16px;
}

.lookalike-img {
  box-shadow: $standard-shadow;
}


.lookalikes-cards-body {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}


.btn-create {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-index-details {
  margin-left: 0;
}
