.card {
  border-radius: $standard-radius;
  box-shadow: $standard-shadow;
}

.lookalike-card {
  width: 18rem;
  overflow: hidden;
}

.card > img {
  height: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

.card-title {
  margin-bottom: 20px;
  font-size: 30px;
}

.card-btn-body {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.card-body {

}


.card-text {
  text-align: right;
}
.lookalike-img {
  box-shadow: $standard-shadow;
}
